
.Container{
    width: 500px;
    height: 430px;
    background-color: rgb(79, 85, 85);
    margin : 80px 370px;
    border-radius: 10px;
}
#heading{
    padding: 15px 160px;
    color: aqua;
    font-size: 40px;
}
.insideCon{
    width: 350px;
    height: 260px;
    background-color: rgb(125, 113, 96);
    margin-left: 73px;
}
.firstRow, .secondRow, .thirdRow, .forthRow, .fifthRow{
    display: flex;
}
.input{
    width: 259PX;
    height: 50px;
    background-color: azure;
    border: 10px;
    border-color: aliceblue;
    font-size: 25px;
}
#AC{
    width: 90px;
    height: 52px;
    background-color: rgb(41, 200, 147); 
    color: antiquewhite;
    border: 10px;
    border-color:  rgb(41, 200, 147);
    cursor: pointer;
    transition: 0.5s;
}
#bb , #wb{
    width: 91px;
    height: 52px;
    border: 10px;
    cursor: pointer;
    transition: 0.5s;
}
#bb{
    background-color: black;
    color: white;
}
#wb{
    background-color: grey;
}
