.Container{
    height: 500px;
    width:520px;
    background-color: rgb(52, 153, 241);
    margin: 20px 370px;
    /* position: fixed; */
}
.innerCon{
    height: 390px;
    width: 460px;
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
}
h2{
    text-align: center;
    color: white;
    font-family: Arial;
    font-weight: 100;
    padding-top: 20px;
}
.name {
    display: flex;
}
 .nameBox {
    display: flex;
}
 #name , #lname{
    margin-top: 10px;
    font-size: 18px;
    font-weight:400;
}
#name{
    margin-left: 15px;
}
#lname{
    margin-left: 150px;
}
 #fname , #Lname{
    margin-left: 15px;
    margin-top: 10px;
}
#Lname{
    margin-left: 60px;
}
.dob, .country{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
}

 #dob,#birthday{
    margin-top: 12px;
    margin-left: 15px;
}
#dob{
    font-size: 18px;
}
.country{
    margin-top: 10px;
}
.Gender{
    display: flex;
}
p{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 10px;
}
#Male , #Female{
    margin-top: 12px;
    margin-left: 5px;
    font-size: 18px;
}
#male, #female{
    /* margin-bottom:10px; */
    margin-left: 20px;
}
.Email, .Mobile{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
}
.Profession{
    margin-left: 15px;
    font-size: 18px;
}
button{
    margin-top: 50px;
    margin-left: 100px;
    cursor: pointer;
    background-color: rgb(52, 153, 241);
    color: white;
    border: 2px;
    border-color: black;
    font-size: 18px;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    background-color: #fff;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}